<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="LOGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/LoggingAspect.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/SpringMVC.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
	</appender>


	<appender name="APPFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/SpringMVC.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/SpringMVC.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="com.newrelic.automotive" level="INFO" additivity="false">
		<appender-ref ref="LOGFILE" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
		<appender-ref ref="APPFILE" />
	</logger>

	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="DEBUG">
		<!-- <appender-ref ref="STDOUT" /> -->
		<!-- <appender-ref ref="LOGFILE" /> <appender-ref ref="APPFILE" /> -->
	</root>
</configuration>	
