
<div class="container-fluid" ng-init="init()">
   <div class="page-header">
      <h3 data-i18n="_carcustsel_"></h3>
    </div>
	<div class="row inner_row container-fluid">
		<form name="carcustselForm" novalidate>
		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustsel_mntmap1" data-i18n="_carcustsel_mntmap1_"></label>
			</div>				


			<div class="form-group col-md-1">
				<label for="carcustsel_f150CustomerMaintenance" data-i18n="_carcustsel_f150CustomerMaintenance_"></label>
			</div>				
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustsel_typeAFordF150CustomerNumberThenSelectAnActionXAndPressEnter" data-i18n="_carcustsel_typeAFordF150CustomerNumberThenSelectAnActionXAndPressEnter_"></label>
			</div>				
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustsel_customerNumber" data-i18n="_carcustsel_customerNumber_"></label>
			</div>				

		


			<div class="form-group col-md-2" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustsel_undefinedName" name="carcustsel_undefinedName" ng-model="carcustsel.undefinedName" placeholder="" />
			</div>
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustsel_action" data-i18n="_carcustsel_action_"></label>
			</div>				


			<div class="form-group col-md-1">
				<label for="carcustsel_undefinedName" data-i18n="_carcustsel_undefinedName_"></label>
			</div>				


			<div class="form-group col-md-1">
				<label for="carcustsel_$1AddANewFordF150Customer" data-i18n="_carcustsel_$1AddANewFordF150Customer_"></label>
			</div>				
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustsel_$2ChangeAnExistingFordF150Customer" data-i18n="_carcustsel_$2ChangeAnExistingFordF150Customer_"></label>
			</div>				
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustsel_$3DeleteAnExistingFordF150Customer" data-i18n="_carcustsel_$3DeleteAnExistingFordF150Customer_"></label>
			</div>				
		</div>

		<div class="row">

			<div class="form-group col-md-2" >
				<label for="carcustsel_$3DeleteAnExistingFordF150Customer" data-i18n="_carcustsel_$3DeleteAnExistingFordF150Customer_"></label>
				<input type="text" class="form-control" id="carcustsel_$3DeleteAnExistingFordF150Customer" name="carcustsel_$3DeleteAnExistingFordF150Customer" ng-model="carcustsel.$3DeleteAnExistingFordF150Customer" placeholder="" />
			</div>
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustsel_f3ExitF12Cancel" data-i18n="_carcustsel_f3ExitF12Cancel_"></label>
			</div>				
		</div>
	
		<div>
			{{message}}
		</div>
		</form>
	</div>
</div>