
<div class="container-fluid" ng-init="init()">
   <div class="page-header">
      <h3 data-i18n="_carcustmaint_"></h3>
    </div>
	<div class="row inner_row container-fluid">
		<form name="carcustmaintForm" novalidate>
		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustmaint_mntmap2" data-i18n="_carcustmaint_mntmap2_"></label>
			</div>				


			<div class="form-group col-md-1">
				<label for="carcustmaint_f150CustomerMaintenance" data-i18n="_carcustmaint_f150CustomerMaintenance_"></label>
			</div>				
		</div>

		<div class="row">

			<div class="form-group col-md-2" >
				<label for="carcustmaint_f150CustomerMaintenance" data-i18n="_carcustmaint_f150CustomerMaintenance_"></label>
				<input type="text" class="form-control" id="carcustmaint_f150CustomerMaintenance" name="carcustmaint_f150CustomerMaintenance" ng-model="carcustmaint.f150CustomerMaintenance" placeholder="" />
			</div>
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustmaint_fordF150CustomerNumber" data-i18n="_carcustmaint_fordF150CustomerNumber_"></label>
			</div>				

		


			<div class="form-group col-md-2" >
				<label for="carcustmaint_undefinedName" data-i18n="_carcustmaint_undefinedName_"></label>
				<input type="text" class="form-control" id="carcustmaint_undefinedName" name="carcustmaint_undefinedName" ng-model="carcustmaint.undefinedName" placeholder="" />
			</div>
		</div>

		<div class="row">
		


			<div class="form-group col-md-2" >
				<label for="carcustmaint_lastName" data-i18n="_carcustmaint_lastName_"></label>
				<input type="text" class="form-control" id="carcustmaint_lastName" name="carcustmaint_lastName" ng-model="carcustmaint.lastName" placeholder="" />
			</div>


			<div class="form-group col-md-1" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustmaint_lastName" name="carcustmaint_lastName" ng-model="carcustmaint.lastName" placeholder="" />
			</div>
		</div>

		<div class="row">
		


			<div class="form-group col-md-2" >
				<label for="carcustmaint_firstName" data-i18n="_carcustmaint_firstName_"></label>
				<input type="text" class="form-control" id="carcustmaint_firstName" name="carcustmaint_firstName" ng-model="carcustmaint.firstName" placeholder="" />
			</div>


			<div class="form-group col-md-1" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustmaint_firstName" name="carcustmaint_firstName" ng-model="carcustmaint.firstName" placeholder="" />
			</div>
		</div>

		<div class="row">
		


			<div class="form-group col-md-2" >
				<label for="carcustmaint_address" data-i18n="_carcustmaint_address_"></label>
				<input type="text" class="form-control" id="carcustmaint_address" name="carcustmaint_address" ng-model="carcustmaint.address" placeholder="" />
			</div>


			<div class="form-group col-md-1" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustmaint_address" name="carcustmaint_address" ng-model="carcustmaint.address" placeholder="" />
			</div>
		</div>

		<div class="row">
		


			<div class="form-group col-md-2" >
				<label for="carcustmaint_city" data-i18n="_carcustmaint_city_"></label>
				<input type="text" class="form-control" id="carcustmaint_city" name="carcustmaint_city" ng-model="carcustmaint.city" placeholder="" />
			</div>


			<div class="form-group col-md-1" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustmaint_city" name="carcustmaint_city" ng-model="carcustmaint.city" placeholder="" />
			</div>
		</div>

		<div class="row">
		


			<div class="form-group col-md-2" >
				<label for="carcustmaint_state" data-i18n="_carcustmaint_state_"></label>
				<input type="text" class="form-control" id="carcustmaint_state" name="carcustmaint_state" ng-model="carcustmaint.state" placeholder="" />
			</div>


			<div class="form-group col-md-1" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustmaint_state" name="carcustmaint_state" ng-model="carcustmaint.state" placeholder="" />
			</div>
		</div>

		<div class="row">
		


			<div class="form-group col-md-2" >
				<label for="carcustmaint_zipCode" data-i18n="_carcustmaint_zipCode_"></label>
				<input type="text" class="form-control" id="carcustmaint_zipCode" name="carcustmaint_zipCode" ng-model="carcustmaint.zipCode" placeholder="" />
			</div>


			<div class="form-group col-md-1" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustmaint_zipCode" name="carcustmaint_zipCode" ng-model="carcustmaint.zipCode" placeholder="" />
			</div>
		</div>

		<div class="row">

			<div class="form-group col-md-1" >
				<label>&nbsp;</label>
				<input type="text" class="form-control" id="carcustmaint_zipCode" name="carcustmaint_zipCode" ng-model="carcustmaint.zipCode" placeholder="" />
			</div>
		</div>

		<div class="row">

			<div class="form-group col-md-1">
				<label for="carcustmaint_f3ExitF12Cancel" data-i18n="_carcustmaint_f3ExitF12Cancel_"></label>
			</div>				
		</div>
	
		<div>
			{{message}}
		</div>
		</form>
	</div>
</div>